*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #7b9f35;
  font-size: 16px;
  color: #fff;
}

a {
  text-decoration: none;
  color: #d4ee9f;
  padding: 10px 30px;
  margin: 0;
}

a.topbutton {
  background-color: #354f00;
}

a#current {
  background-color: #7b9f35;
}

a:hover {
  color: #fff;
}

ul.navbar {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: space-between;
  width: 60%;
}

header,
footer {
  background-color: #000;
}

header {
  padding: 9px;
  text-align: center;
}

h1 {
  margin: 0;
  padding: 0;
  padding-bottom: 25px;
}

main {
  flex: auto;
}

.container {
  width: 60%;
  padding: 20px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

img {
  width: 300px;
  margin: 20px auto;
}

.foodimg {
  border-radius: 50%;
}

.text {
  margin-left: 20px;
  line-height: 1.5;
}

.footertext {
  padding: 0;
  margin: 0;
}

footer {
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}